<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body>
    Welcome to car deals {{y}}
    <br>
    <a href="http://127.0.0.1:5000/make">Add A Car</a>
    <br>
    <a href="http://127.0.0.1:5000/">LOGOUT</a>
    
<h1>cars for sale</h1>
    <ul>
        {% for i in all%}
            <ul>
                <li>
                    {{i.model}} - {{i.year}}
                    
                </li>
                <li>
                    reported by {{i.seller}}
                </li>
            </ul>
            {% if i.seller in y %}
                <a href="http://127.0.0.1:5000/edit/{{i.carnum}}">Edit</a> <a href="http://127.0.0.1:5000/del/{{i.carnum}}">Delete</a>
            {% else: %}
                <a href="http://127.0.0.1:5000/see/{{i.carnum}}/{{i.seller}}">veiw</a>
            {% endif %}
            <hr>
        {%endfor%}
    </ul>
</body>
</html>