<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <a href="http://127.0.0.1:5000/dashboard/{{x}}">Home</a>
    <br>
    <a href="http://127.0.0.1:5000/">LOGOUT</a>
    <h1>Car</h1>
    {{name}}
    <br>
    <hr>
    {% for i in it %}
        <h2> ${{ i.price}} </h2>
    
        <h3>
            Model:
        </h3>
        {{i.model}}
        <h3>Make:</h3>
        {{i.make}}
        <h3>Year:</h3>
        {{i.year}}
        <p> Seller: {{seller}} </p>
        <a href="http://127.0.0.1:5000/del/{{i.id}}">Purchase</a>
    {%endfor%}
</body>
</html>